@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

:root {
    --main-color: #0078ff;
    --text-color: #333333;
    --bg-color: #ffffff;
    --accent-color: #ff6600;
    --font-main: 'Poppins', sans-serif;
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Popins" sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    background: #000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(74, 40, 0, 1) 100%);
    width: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

nav a {
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #ff6600;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}