@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  background: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  background: #000000;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(74, 40, 0, 1) 100%);
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
}

/* home page */

header {
  padding: 50px 0;
}

header .logo,
footer .block .logo {
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 800;
}

header nav {
  float: right;
  width: 50%;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: #fff;
}

nav a:not(.btn a) {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav a:not(.btn a)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #ff6600;
  transition: width 0.3s;
}

nav a:not(.btn a):hover {
  color: #ff6600;
}

nav a:not(.btn a):hover::after {
  width: 100%;
}

header nav ul li.btn a,
.email .stats__label button {
  background-color: #fa9021;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 500ms ease;
}

header nav ul li.btn a:hover,
.email .stats__label button:hover {
  background-color: #8f4b03;
}

nav .active {
  color: #dc7000;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 70px 0 100px;
  position: relative;
  z-index: 1;
}

.hero .stats__value {
  max-width: 560px;
  padding-top: 0;
}

.hero .stats__value h1 {
  color: #e87d0e;
  font-size: 20px;
  font-weight: 600;
}
.hero .stats__value h2 {
  font-size: 50px;
  font-weight: 600;
}
.hero .stats__value p {
  font-weight: 500;
  line-height: 170%;
  margin-bottom: 30px;
}

.hero .stats__value .btn,
.hero__about .info .btn {
  background: #fa9021;
  color: #fff;
  border-radius: 50px;
  padding: 15px 30px;
  border: 0;
  transition: transform 500ms ease;
  font-size: 17px;
}

.hero .stats__value .btn:hover,
.hero__about .info .btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.hero img {
  position: absolute;
  top: -150px;
  right: 0;
}

.trending {
  padding-top: 50px;
}

.trending h3 {
  font-weight: 600;
  font-size: 31px;
}

.trending .see__all {
  color: #fff;
  background: #25211d;
  border-radius: 5px;
  padding: 12px 23px;
  float: right;
  display: block;
  transition: all 500ms ease;
  font-weight: bold;
}

.trending .see__all:hover {
  transform: scale(1.1);
}

.trending .games {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 0;
}

.trending .games span {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.trending .games span img {
  position: relative;
  top: 5px;
  margin-right: 7px;
  width: 25px;
}

.big__text {
  padding: 50px;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  width: 800px;
}

.banner {
  padding: 80px 0;
}

.banner h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.banner p {
  line-height: 170%;
  margin-bottom: 30px;
  width: 550px;
}

.banner img {
  width: 100%;
  margin-bottom: 30px;
}

.features {
  background: url('../img/bg.svg') no-repeat center center fixed;
  background-size: cover;
  padding: 80px 80px;
}

.features h3,
.features p {
  margin-bottom: 20px;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.features h3 {
  font-size: 30px;
}

.features .info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.features .info .block {
  text-align: center;
  width: 20%;
  margin: 30px 2%;
}

.features .info .block {
  margin-bottom: 15px;
}

.projects {
  padding: 100px;
}

.projects h3 {
  font-size: 30px;
  text-align: center;
}

.projects p {
  margin: 40px 0;
  text-align: center;
}

.projects .projects__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-auto-rows: clamp(90px, 12vw, 140px);
  gap: clamp(16px, 2vw, 25px);
  grid-auto-flow: dense;
  margin-bottom: 35px;
}

.item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  display: block;
}

.w1 {
  grid-column: span 1;
}

.w2 {
  grid-column: span 2;
}

.w3 {
  grid-column: span 3;
}

.h2 {
  grid-row: span 2;
}

.projects .btn {
  display: inline-block;
  width: 140px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  background: #25211d;
  border-radius: 5px;
  font-weight: bold;
  transition: transform 500ms ease;
  margin: 0 auto;
}

.projects .btn:hover {
  transform: scale(1.1);
}

.projects .btn {
  display: block;
  width: 140px;
  height: 60px;
  margin: 0 auto;
}

.email {
  padding-bottom: 120px;
}

.email h3 {
  margin-top: 60px;
  font-size: 30px;
}

.email .stats__label {
  background: #1c140f;
  margin-top: 30px;
  border-radius: 10px;
  padding: 40px 3%;
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email .stats__label h4 {
  font-size: 30px;
  font-weight: 500;
}

.email .stats__label p {
  width: 500px;
}

.email .stats__label input {
  background: #fff;
  outline: none;
  border: 0;
  border-radius: 5px;
  width: 380px;
  font-family: 'Poppins', sans-serif;
  font-weight: 16px;
  padding: 20px 30px;
  position: relative;
  right: -100px;
  z-index: 1;
  padding-right: 100px;
}

.email .stats__label input::placeholder {
  color: #898989;
}

.email .stats__label button {
  cursor: pointer;
  border: 0;
  padding: 13px 17px;
  position: relative;
  z-index: 2;
  color: #fff;
}

/* about__us Page */
.hero__about {
  position: relative;
}

.hero__about img {
  position: absolute;
  right: -130px;
  top: 0;
  border-radius: 25px;
}

.hero__about .info {
  width: 500px;
  padding: 250px 0;
}

.hero__about .info h1 {
  margin-bottom: 15px;
  font-size: 30px;
}

.hero__about .info .btn {
  margin-top: 20px;
}

.works {
  padding: 80px 0;
}

.works h2 {
  font-size: 25px;
  margin-bottom: 40px;
}

.works .badges {
  display: flex;
  justify-content: space-between;
}

.works .badges .badges__info {
  width: 25%;
  border-radius: 10px;
  padding: 50px 35px;
  background: #1c140f;
}

.works .badges .badges__info h3 {
  font-size: 20px;
  margin: 20px 0;
}

.works .badges .badges__info .badge {
  border-radius: 7px;
  padding: 10px 20px;
}

.works .badges .badges__info .badge.purple {
  background: #2c1226;
}

.works .badges .badges__info .badge.green {
  background: #192a1d;
}

.works .badges .badges__info .badge.brown {
  background: #31190d;
}

.frame .frame__info {
  display: flex;
  align-items: center;
  gap: 200px;
  padding: 70px;
  margin-top: 100px;
  background: #1c140f;
  border-radius: 20px;
}

.frame .frame__info .frame__item {
  flex: 1 1 0;
  max-width: 620px;
}

.frame .frame__info img {
  flex: 0 0 450px;
  max-width: 40%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
  display: block;
}

.team .members {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team .members .member_item {
  width: 22%;
  border-radius: 10px;
  padding: 25px 15px;
  background: #1c140f;
  text-align: center;
  margin-bottom: 30px;
}

.team .members .member_item h3 {
  font-size: 20px;
  margin: 20px 0;
  text-align: center;
  top: 100px;
}

.team .members .member_item p {
  font-size: 12px;
  text-align: center;
  top: 100px;
}

.team .members .member_item img {
  width: 50%;
  position: relative;
  margin-bottom: 20px;
}

/* contacts page */
.hero-contact h1 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 33px;
}

.hero-contact p {
  text-align: center;
}

.hero-contact img {
  width: 70%;
  margin: 80px 15%;
}

.feedback {
  padding: 70px 0;
  background: #1c140f;
}

.feedback h2 {
  font-weight: 500;
  text-align: center;
  font-size: 30px;
}

.feedback p {
  text-align: center;
  margin-top: 10px;
}

.feedback form {
  margin: 80px auto;
  width: 600px;
}

.feedback form .inline {
  display: flex;
  justify-content: space-between;
}

.feedback form .inline > div {
  width: 50%;
}

.feedback form label {
  color: #4f4f4f;
  font-size: 14px;
}

.feedback form input,
.feedback form textarea {
  background: #2c2420;
  border-radius: 10px;
  border: 0.6px solid #cecece;
  width: 90%;
  padding: 15px 10px;
  outline: none;
  color: #ccc;
  margin-top: 7px;
  margin-bottom: 20px;
}

.feedback form .one-line {
  width: 96%;
}

.feedback form textarea {
  resize: none;
  height: 200px;
}

.feedback form button {
  background: #dc7000;
  border-radius: 5px;
  border: 0;
  float: right;
  cursor: pointer;
  color: #ccc;
  padding: 15px 30px;
  transition: all 500ms ease;
}

.feedback form button:hover {
  background: #a51b02;
}

/* portfolio page*/

.services {
  text-align: center;
}

.services p {
  font-size: 16px;
  margin-bottom: 30px;
}

.services h3 {
  font-size: 33px;
  margin-top: 40px;
}

.highlight {
  color: #fa9021;
}

.services__2 {
  text-align: left;
}

.highlight {
  color: #fa9021;
}

.stats {
  padding: 70px 0;
  background: #1c140f;
  display: flex;
  justify-content: center;
  gap: 120px;
  border-radius: 25px;
  position: relative;
}

.stats__icon:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -260px;
  transform: translateY(-50%);
  height: 100%;
  width: 2px;
  background-color: #fff;
}

.stats__icon {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 50px 40px;
  position: relative;
}

.video,
.games .game__item2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 75px;
}

.video img {
  width: 45%;
  border-radius: 10px;
  margin: 0;
}

.video .video__item {
  max-width: 45%;
  text-align: left;
}

.video .video__item h3 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.video .video__item p {
  color: #ccc;
  margin-bottom: 20px;
}

.video .video__item span {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 10px;
}

.video .video__item span img {
  width: 20px;
  margin-right: 10px;
}

.game1 button,
.game2 button,
.game3 button {
  background-color: #fa9021;
  padding: 15px 70px;
  transition: all 500ms ease;
  color: #fff;
  font-size: 16px;
  border-radius: 2px;
}

.game1 button:hover,
.game2 button:hover,
.game3 button:hover {
  background-color: #8f4b03;
}

.game1,
.game3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game1 .game__item,
.game2 .game__item,
.game3 .game__item {
  max-width: 750px;
  font-size: 17px;
}

.game1 .game__item h3,
.game2 .game__item h3,
.game3 .game__item h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

.game1 .game__item p,
.game2 .game__item p,
.game3 .game__item p {
  margin-bottom: 30px;
}

.game1 .game__item .btn,
.game2 .game__item .btn,
.game3 .game__item .btn {
  margin-top: 20px;
}

.game1 img,
.game3 img,
.game2 img {
  width: 50%;
  max-width: 100%;
}

.game1 img {
  border-radius: 45px;
}

.game2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 75px;
}

.game2 img {
  width: 45%;
  border-radius: 10px;
  margin: 0;
}

.reviews__info {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  background: #1c140f;
  padding: 40px;
  color: #fff;
  font-family: sans-serif;
  margin-top: 50px;
  text-align: center;
}

.reviews__info .review__item h3 {
  font-size: 35px;
  max-width: 500px;
  margin-bottom: 25px;
}

.reviews__info .review__item p {
  font-size: 14px;
  max-width: 500px;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  background: #1c140f;
  padding: 40px;
  color: #fff;
  font-family: sans-serif;
}

.card {
  position: relative;
  background: #1c140f;
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  transition: 0.3s;
  margin-bottom: 100px;
}

.card:hover {
  border-color: #ff9a3d;
  box-shadow: 0 4px 18px rgba(255, 154, 61, 0.25);
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  float: left;
  margin-right: 12px;
}

.info h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.city {
  color: #9fb0c2;
  font-size: 13px;
  margin: 2px 0 10px;
}
.rating {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: 700;
}

.rating span {
  color: #ff9a3d;
}

.text {
  clear: both;
  font-size: 14px;
  line-height: 1.6;
  color: #e6e0db;
  margin-top: 10px;
}

/* news page */

.search__bar {
  background: #1c140f;
  border-radius: 8px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  max-width: 400px;
}

.search__bar .icon {
  width: 18px;
  height: 18px;
}

.search__bar input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  flex: 1;
}

.search__bar input::placeholder {
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: 1000px 650px;
  margin-top: 75px;
  gap: 40px;
  align-self: stretch;
  justify-content: center;
}

.grid__main,
.grid__aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.post--featured {
  display: grid;
  gap: 25px;
}

.post--featured .post__thumb {
  margin-bottom: 25px;
}
.post--featured .post__thumb img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 0;
}

.post--featured .post__author {
  background-color: #2351f5;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.post__time {
  font-size: 14px;
  margin-left: 5px;
}

.post--featured .post__title {
  font-size: 30px;
}

.post--featured .post__excerpt {
  font-size: 17px;
}

.post__divider {
  border: none;
  border-top: 1px solid #a5a5a5;
  margin: 75px 0;
}

.post--compact {
  display: grid;
  grid-template-columns: 225px 1fr;
  gap: 25px;
  align-items: start;
}

.post--compact .post__thumb img {
  width: 100%;
  height: 100%;
  display: block;
}

.post--compact .post__author {
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 16px;
}

.post__author--pink {
  background: #ff8484;
}

.post__author--blue {
  background: #2351f5;
}

.post__author--orange {
  background: #ff7c32;
}

.post__author--green {
  background: #23a54f;
}

.post__author--purple {
  background: #9921c3;
}

.post__content {
  margin-top: 45px;
}

.post--compact h3 {
  margin-top: 25px;
}

/* Footer */

footer {
  background: #000000;
  padding: 50px 0;
}

footer .block {
  display: flex;
  justify-content: space-between;
}

footer .block p {
  width: 300px;
  margin: 15px 0;
}

footer .block h4 {
  font-weight: 500;
  font-size: 17px;
}

footer .block ul {
  list-style: none;
}

footer .block ul li {
  margin-top: 5px;
  opacity: 0.8;
}

footer hr {
  margin: 30px 0;
  border: 0;
  height: 1px;
  background: #ccc;
}

footer > p {
  text-align: center;
}
